.todoform{
    background-color: aliceblue;
    border-radius: 8px;
    padding: 20px;
    width:500px;
    margin: 0 auto;
    margin-top:50px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.2) 
}
.modernInput{
    width:100%;
    display:block;
    border:none;
    color:black;
    font-size:16px;


}
.modernInput:focus{
    outline:none;
}
.modernButton{
    display:inline-block;
    border:none;
    border-radius: 5px;
    background-color:orange;
    padding:15px 20px;
    color:#ffffff;


}
.inputContainer{
    display:flex;
}